# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Frontend
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/
frontend/.env

# Backend
backend/bin/
backend/tmp/
backend/.env

# Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out

